.landing-page {
  width: 100%;
  height: 100%;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  color: white;
}

.overlay-content h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

.overlay-content h2 {
  text-align: center;  
}

.overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/landing.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

.description {
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.description-content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.description h2 {
  width: 350px;
  line-height: 30px;
}

.description img {
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  border-radius: 7px;
}

.howto {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background-color: #ededed;
}

.howto-content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.howto img {
  width: 500px;
  height: 556px;
}

.select {
  position: absolute;
  top: 95px;
  right: 475px;
  border: 2px solid #ef4450;
  border-radius: 5px;
  padding: 5px;
  background: #fff;
}

.upload-and-share {
  position: absolute;
  bottom: 25px;
  right: 135px;
  border: 2px solid #ef4450;
  border-radius: 5px;
  padding: 5px;
  background: #fff;
}

.register-section {
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.register-content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register-content h2 {
  margin-bottom: 30px;
}

.register-content a {
  color: #ef4450;
}

.register-content img {
  border: 2px solid #000;
  border-radius: 7px;
}

@media only screen and (max-width: 1024px) {
  .description {
    padding: 50px 0;
  }

  .description-content {
    width: 600px;
  }

  .description-content img {
    width: 300px;
    height: 300px;
  }

  .description-content h2 {
    font-size: 20px;
    width: 200px;
    line-height: 30px;
  }

  .howto {
    padding: 50px 0;
  }

  .howto-content {
    width: 600px;
    flex-direction: column;
  }

  .howto-content h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .howto img {
    width: 500px;
    height: 556px;
  }
  
  .select {
    font-size: 16px;
    width: 150px;
    top: 145px;
    right: 520px;
  }
  
  .upload-and-share {
    font-size: 16px;
    bottom: 27px;
    right: 180px;
  }

  .register-section {
    padding: 50px 0;
  }

  .register-content {
    width: 600px;
    flex-direction: column;
  }

  .register-content h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .overlay-content h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .overlay-content h2 {
    font-size: 20px;
  }

  .description-content {
    width: 450px;
  }

  .description-content img {
    width: 200px;
    height: 200px;
  }

  .description-content h2 {
    font-size: 18px;
    width: 170px;
    line-height: 25px;
  }

  .howto-content {
    width: 450px;
    flex-direction: column;
  }

  .howto-content h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .howto img {
    width: 450px;
    height: 500px;
  }
  
  .select {
    font-size: 14px;
    width: 130px;
    top: 140px;
    right: 425px;
    padding: 0px 5px;
  }
  
  .upload-and-share {
    font-size: 14px;
    right: 120px;
    padding: 0px 5px;
  }

  .register-content {
    width: 450px;
    flex-direction: column;
  }

  .register-content h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 460px) {
  .description-content {
    flex-direction: column;
    width: 350px;
  }

  .description-content img {
    width: 300px;
    height: 300px;
  }

  .description-content h2 {
    font-size: 16px;
    width: 350px;
    margin-bottom: 20px;
  }

  .howto-content {
    width: 350px;
    flex-direction: column;
  }

  .howto-content h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .howto img {
    width: 350px;
    height: 400px;
  }
  
  .select {
    font-size: 12px;
    width: 100px;
    top: 140px;
    right: 290px;
    padding: 0px;
  }
  
  .upload-and-share {
    font-size: 12px;
    right: 140px;
    bottom: 20px;
  }

  .register-content {
    width: 350px;
    flex-direction: column;
  }

  .register-content h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .description {
    padding: 25px 0;
  }

  .description-content {
    flex-direction: column;
    width: 300px;
  }

  .description-content img {
    width: 300px;
    height: 300px;
  }

  .description-content h2 {
    font-size: 14px;
    width: 300px;
  }

  .howto {
    padding: 25px 0;
  }

  .howto-content {
    width: 300px;
  }

  .howto-content h2 {
    font-size: 14px;
  }

  .howto img {
    width: 300px;
    height: 350px;
  }
  
  .select {
    width: 100px;
    top: 127px;
    right: 200px;
  }
  
  .upload-and-share {
    font-size: 12px;
    right: 80px;
    bottom: 15px;
  }

  .register-section {
    padding: 25px 0;
  }

  .register-content {
    width: 300px;
  }

  .register-content h2 {
    font-size: 14px;
  }
}